<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFN实现大文件断点下载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A051133F1D7951F200A89942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05113581D7951F200A89942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05113631D7951F200A89942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
